body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: 1px;
    word-spacing: 1px;
    background: url(bg-paper.jpg);
    background-repeat: no-repeat;
    /* background-position: 100% 100px; */
    /* background-size: 100% 100%; */
    background-size: cover;
    background-attachment: fixed;
    height: 300vh;
}

html {
    /* font-size: 16px; */
    font-size: 100%;
}

h1, h2, h3, h4, h5, h6{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
}

@media screen and (min-width: 1200px) {
    html {
        font-size: 130%;
    }
}


@media screen and (max-width: 900px) {
    html {
        font-size: 75%;
    }
}

@media screen and (max-width: 680px) {
    html {
        font-size: 50%;
    }
}

@media screen and (max-width: 500px) {
    html {
        font-size: 40%;
    }
}

@media screen and (max-width: 400px) {
    html {
        font-size: 30%;
    }
}

p {
    width: 70ch;
    text-align: left;
    text-transform: lowercase;
}

p + p {
    text-indent: 1rem;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
